/* 
* @Author: rafael
* @Date:   2015-03-28 17:04:28
* @Last Modified by:   Rafael Viveros
* @Last Modified time: 2015-03-31 15:36:17
*/

.main-wrapper {
	margin-top: 1.5rem;
}

.receta-wrapper {
	margin-top: 0.5rem;
	border-right: 1px solid #CCC;
}

.comentarios-wrapper {
	margin-top: 6rem;
}

.nombre-autor {
	text-align: right;
	font-style: italic;
	color: #FFF;
}

.nombre-receta {
	color: #FFF;
	margin-top: 5rem;
	font-weight: 700;
	background-color: rgba(230, 66, 66, 0.6); 
	text-align: center;
	text-shadow: 0 0 10px #333;
	border-bottom: 1px dashed #FFF;
	border-top: 1px dashed #FFF;
	border-right: 1px dashed #FFF;
}

.ingredientes-receta {
	white-space: pre-line;
}

.button .label {
	margin-bottom: -10px;
	margin-top: -10px;
}

.receta-imagen {
	position: absolute;
	width: 100%;
	padding: 0 1rem 0 0;
	height: 20em;
	overflow-y: hidden;
	z-index: -1;
}

.receta-imagen img {
	width: 100%;
}

.controles-receta {
	margin-top: 10rem;
}

.recetas-title {
	font-size: 1.5rem;
	font-family: 'Open Sans Condensed', sans-serif;
}

.recetas-title a {
	color: #E64242;
}

.panel {
	border-color: #F6D3D3;
	background-color: #FFF;
	box-shadow: 5px 5px 0 #F6D3D3;
}
